.error {
    margin: 0 0;

    &__button {
        margin: 2rem 0 3rem 0;
        display: flex;

        // min-width: 576px;
        @include sm-screen {
            margin: 0 0 4.5rem 0;
        }

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            text-decoration: none;
            background: $num !important;
            color: $white !important;
            border: 1px solid $num;
            text-transform: uppercase;
            padding: 0.5rem 2rem;
            border-radius: 3px;
            transition: all 0.3s linear;

            &:hover {
                transition: all 0.3s linear;
                background: #fd6448d9 !important;
            }

            &--i {
                margin: 0 0;
                font-size: 1.4rem;
                transform: translate(7px, 1px);
            }
        }
    }
}