.collection {
    margin: 5rem 0;

    &__card {
        margin: 0 0 1.5rem 0;

        &-column {
            margin: 0 0 1.5rem 0;

            // min-width: 576px;
            @include sm-screen {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-body {

            // min-width: 576px;
            @include sm-screen {
                margin: auto 3rem auto auto !important;
            }
        }

        &-ul {
            margin: 0.2rem 0 0.3rem 0.8rem !important;
        }

        &-p {
            margin: 0 0 1rem 0;
            -webkit-line-clamp: 2;
            display: none;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            // min-width: 576px;
            @include sm-screen {
                display: -webkit-box;
            }
        }

        &-img {

            // min-width: 576px;
            @include sm-screen {
                padding: 2rem 0;
            }

            // min-width: 1400px;
            @include xlii-screen {
                padding: 0rem 0;
            }
        }
    }

    &__adds {
        background: #67d06a4d !important;
        border: 1px solid #459c485c !important;
        border-radius: 8px !important;

        &-layer {
            display: flex;
            align-items: center;
            margin: 0 2rem 0 0;

            // min-width: 576px;
            @include sm-screen {
                margin: 0 2rem 0 1rem;
            }

            // min-width: 786px;
            @include md-screen {
                margin: 0 2rem 0 2rem;
            }

            // min-width: 1200px;
            @include xl-screen {
                margin: 0 0 0 3rem;
            }
        }

        &-text {
            font-size: 1rem;
            font-family: $font7;
            color: $menu;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0 0;

            // min-width: 576px;
            @include sm-screen {
                font-size: 1.5rem;
            }

            // min-width: 768px;
            @include md-screen {
                font-size: 2rem;
            }
        }

        &-offer {
            font-size: 0.8rem;
            font-family: $font7;
            margin: 0 0 0.5rem 0;
            color: $C-2;
            text-transform: uppercase;

            // min-width: 576px;
            @include sm-screen {
                font-size: 1rem;
                margin: 0 0 1rem 0;
            }
        }
    }

    &__bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border;
        margin: 0 0 2rem 0;
        padding: 2rem 0 1rem 0 !important;

        // min-width: 576px;
        @include sm-screen {
            grid-template-columns: repeat(2, 1fr);
        }

        // min-width: 768px;
        @include md-screen {
            display: flex;
        }

        &:first-child &-i {
            margin: 0 1rem 0 0;
        }

        &-i {
            font-size: 1.3rem;
            color: $menu;
            cursor: pointer;
        }

        &-active {
            color: $alert;
        }

        &-select {
            margin: 0 0;
            font-family: $font2;
            font-size: 1rem;
            color: $menu;
            text-transform: capitalize;
            border: 1px solid $border !important;
            outline: 0 !important;
            padding: 5px 6px;
            border-radius: 3px;
        }

        &-search {
            margin: auto;
            grid-column: 1/4;

            // max-width: 575px;
            @include xs-screen {
                grid-row: 3/3;
            }

            // min-width: 768px;
            @include md-screen {
                grid-column: 1/3;
            }
        }

        &-icons {
            margin: 0;
            grid-column: 2/4;

            // min-width: 400px;
            @include xsss-screen {
                grid-column: 3/3;
            }

            // min-width: 576px;
            @include sm-screen {
                grid-column: 2/3;
            }

            // min-width: 768px;
            @include md-screen {
                margin: 0 0 0 2rem;
            }

            // min-width: 992px;
            @include lg-screen {
                margin: 0 0;
            }
        }

        &-sort {
            grid-row: 2/2;
            margin: 1.5rem 0 0 0;

            // min-width: 400px;
            @include xsss-screen {
                grid-column: 2/2;
                grid-row: 1/1;
                margin: 0 !important;
            }

            // min-width: 576px;
            @include sm-screen {
                grid-column: 4/3;
                grid-row: 1/2;
            }

            // min-width: 768px;
            @include md-screen {
                grid-column: 1/3;
                grid-row: 2/2;
            }
        }

    }
}