.collection {
    &__filter {
        margin: 0 0;

        &-panel {
            // max-width: 991px;
            @include xlg-screen {
                margin: 0 0;
                position: fixed;
                z-index: 9999;
                height: 100rem;
                top: 0;
                left: 0;
                background: $white;
                padding: 0 0;
                display: block;
            }


            &--hide {
                // max-width: 991px;
                @include xlg-screen {
                    display: none;
                }
            }

            &--body {
                // max-width: 991px;
                @include xlg-screen {
                    overflow-y: scroll;
                    height: calc(100vh - 25px);
                    margin: 0 0;
                    padding: 0 1.5rem;

                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-track {

                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: #2ea26ebd;
                        border-radius: 10px;
                    }
                }

            }

            &--background {
                // max-width: 991px;
                @include xlg-screen {
                    width: 100%;
                    height: 100%;
                    background: #7c7c7c63;
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 9999;
                    cursor: pointer;
                }
            }
        }

        &-title {
            margin: 0.9rem 0 2rem 0;
            font-size: 1.5rem;
            font-family: $font7;
            font-weight: 500;
            color: $C-1;
            text-transform: capitalize;
            border-bottom: 1px solid $border;
            padding: 0 0 10px 0;

            // min-width: 992px;
            @include lg-screen {
                margin: 0 0 2rem 0;
            }
        }

        &-text {
            font-size: 1.2rem;
            font-family: $font2;
            color: #253D4E;
            text-transform: capitalize;
            margin: 0 0 0.8rem 0;
        }

        .css-j204z7-MuiFormControlLabel-root {
            margin: 0;
        }

        .css-ahj2mt-MuiTypography-root {
            margin: 0 0 0 5px;
            font-size: 1rem;
            font-family: $font7;
            font-weight: 500;
            color: #000000d4;
            text-transform: capitalize;
            line-height: 0;
            letter-spacing: 0;
        }

        .css-5cqkd2-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
            color: #2ea26d !important;
        }

        &-ul {
            margin: 0 0;
            padding: 0 0;

            li {
                list-style: none;
                margin: 0 0 0.5rem 0;

                &:last-child {
                    border-bottom: 1px solid $border;
                    margin: 0 0 2rem 0;
                    padding: 0 0 1.5rem 0;
                }
            }

            &--name {
                margin: 0 0;
                cursor: pointer;
                font-size: 1rem;
                font-family: $font7;
                font-weight: 500;
                color: #000000d4;
                text-transform: capitalize;
                transform: translate(0, 2px);
            }
        }
    }
}