.nav {
    margin: 0 0;

    &__border {
        border-top: 1px solid $border-3;
        padding: 1.5rem 0 0 0;
    }

    &__list {
        margin: 0 0;
        padding: 0 0;
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            text-transform: capitalize;
            font-family: $font;
            font-size: 1rem;
            font-weight: 700;
            color: $C-1;

            &:hover {
                color: #2ea26d !important;
            }
        }

        &-dropdown {
            margin: 0 0;

            &--btn {
                box-shadow: none !important;
                outline: 0 !important;
                padding: 0 0 !important;
            }

            &--ul {
                position: relative;
                border: 1px solid #3e5e502b !important;
                box-shadow: 4px 2px 13px 0px rgba(101, 166, 143, 0.196);
                margin: 10px 0 0 0 !important;
                padding: 0 0 !important;

                li:last-child {
                    margin: 0 0 !important;
                }

                li {
                    margin: 0 0 8px 0;
                }

                a {
                    font-family: $font2;
                    font-weight: 400 !important;
                    font-size: 1rem !important;
                    color: $C-2 !important;
                    text-transform: capitalize;
                    padding: 8px 1.2rem !important;

                    &:hover {
                        color: #2ea26d !important;
                        background: #9ee9c757 !important;
                    }

                    &:active {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }

    &__icon {
        margin: 0 0.9rem 0 0;
        font-size: 1.5rem;
        color: #2ea26d;


        // min-width: 1200px;
        @include xl-screen {
            font-size: 1.7rem
        }
    }

    &__small {
        font-family: $font;
        font-weight: 600;
        display: block;
        font-size: 0.85rem;
        color: $C-1;
        text-transform: capitalize;
    }

    &__text {
        font-family: $font;
        font-weight: 600;
        font-size: 0.9rem;
        color: $C-1;

        // min-width: 1200px;
        @include xl-screen {
            font-size: 1rem
        }

        ;
    }
}